@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    background: url("pexels-atbo-245240.jpg") no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login{
    width: 600px;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    border:10px solid #fff;
    box-shadow: 0 0 60px #000;
    backdrop-filter: blur(5px);   /*霧面效果*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 400px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #fff;
}

.form h2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.form .group{
    margin-bottom: 20px;
}
.form label{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 2;
}
.form input{
    width: 100%;
    border: 1px solid #aaa;
    line-height: 3;
    border-radius: 5px;
    outline: none;
}
.form .btn-group{
    font-size: 0;
    margin-top: 50px;
}
.form .btn{
    width: 190px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 0;
    border: none;
    background-color: #6ab4fe;
    color: #fff;
    cursor: pointer;
}
.form .btn + .btn{
    margin-left: 20px;
}
