@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');

html,body{
    height: 100%;
}

body{
    background: url("pexels-atbo-245240.jpg") no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.query_window{
    width: 900px;
    height: 600px;
    border: 2px solid #fff;
    border-radius: 10px;
    h2{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
    }
}

